.singlePost-wrapper {
    display: flex;

    .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        figure {
            margin: 0;

            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }

        .user-details {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            figure {
                margin: 0;

                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }
            }

            .user-info {
                span {
                    font-weight: bold;
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                }
            }
            .controls{
                display: flex;
                gap: 15px;
                svg{
                    cursor: pointer;
                    font-size: 24px;
                    color: teal;
                }                
            }
        }
        .postDes{
            h3{
                color: #333;
            }
            p{
                color: #333;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }

    .side-menu {
        flex: 2;
    }
}